<div class="modal hide fade" id="new-song-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a New Song</h3>
    </div>
    <div class="modal-body">
        <form id="new-song-form" class="well form-horizontal"
            action="{{ url_for('list_songs') }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.name.label }}</div>
                    <div class="controls">
                        {{ form.name|safe }}
                        {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.content.label }}</div>
                    <div class="controls">
                        {{ form.content|safe }}
                        {% if form.content.errors %}
                        <ul class="errors">
                            {% for error in form.content.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add song"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

